body {
	text-align: center;
	background-color: black;
	color: white;
}

button {
	font-size: 30px;
	background-color: black;
	color: white;
	cursor: pointer;
}

p {
	font-size: 40px;
	font-family: 'Road Rage', cursive;
}

.center {
	height: 200px;
	width: 400px;
	background: rgba(0, 0, 0, .0);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
}

.custom-cursor {
	cursor: url("images/cursor.png"), auto
}

div.staticstars {
	background: #000 url(images/stars.png) repeat top center;
	background-attachment: fixed;
	position: fixed;
	top: 10%;
	left: 10%;
	float: left;
	width: 100%;
	height: 100%;
	display: block;
	z-index: -1;
}

div.rainbow {
	background-image: url("images/rainbow.png");
	background-repeat: no-repeat;
	position: fixed;
	top: 10%;
	left: 10%;
	float: left;
	width: 100%;
	height: 100%;
	display: block;
	z-index: -1;
	opacity: 0.4;
}

div.blinkingstar {
	-webkit-animation: blinkingstar 10s infinite;
	animation: blinkingstar 10s infinite;
}

@-webkit-keyframes blinkingstar {
	0% {
		opacity: 1;
	}
	2% {
		opacity: 0.3;
	}
	4% {
		opacity: 1;
	}
}

@keyframes blinkingstar {
	0% {
		opacity: 1;
	}
	2% {
		opacity: 0.3;
	}
	4% {
		opacity: 1;
	}
}

@media (max-width: 1300px) {
	p {
		font-size: 30px;
	}
	
    div.staticstars {
		top: 15%;
		left: 15%;
	}
	
	div.rainbow {
		top: 15%;
		left: 15%;
	}
}

@media (max-width: 900px) {
    div.staticstars {
		top: 30%;
		left: 30%;
	}
	
	div.rainbow {
		top: 30%;
		left: 30%;
	}
}

@media (max-width: 450px) {
    div.staticstars {
		top: 60%;
		left: 60%;
	}
	
	div.rainbow {
		top: 60%;
		left: 60%;
	}
}